.image {
  height: 280px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  border-radius: 15px;
}
.image:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 18px;
}
